<div class="despMenu" id="deMenu" >
    <div>
        <span>Settings</span>
        <ul id="menuOptions">
            <li><div><span><%-icons.hot%></span><span>Customize</span></div></li>
            <li><div><span><%-icons.private%></span><span>Privacy</span></div></li>
            <li><div><span><%-icons.likebefore%></span><span>Recommendations</span></div></li>
            <li><div><span><%-icons.settings%></span><span>Advanced Options</span></div></li>
            <li><div><span><%-icons.reportbug%></span><span>Report a Bug</span></div></li>
            <li><div><span><%-icons.cross%></span><span>Close</span></div></li>
        </ul>
    </div>
</div>