<section class="options" id="options" >
    <a class="user" id="clientUser">
        <span>Log In now!</span>
        <img src="">
    </a>
    <div class="icons">
        <a class="createPost" id="createPost" href="/client/me/write">
            <div class="svgCont">
                <%-icons.add%>
            </div>
            <span>Write</span>
        </a>
        
        <a class="home" id="home"  href="/client/main">
            <div class="svgCont">
                <%-icons.home%>
            </div>
            <span>Home</span>
        </a>
        
        <a id="explore" class="explore" href="/client/explore">
            <div class="svgCont"><%-icons.explore%></div>
            <span>Explore</span>
        </a>
        <a class="notifications" id="notifications" href="/client/notifications">
            <div class="svgCont"><%-icons.bell%></div>
            <span>Notifications</span>
        </a>
        <a class="dm" id="dm" href="/client/whispers">
            <div class="svgCont"><%-icons.dm%></div>
            <span>Whispers</span>
        </a>
        <a class="saved" id="saveds" href="/client/me/saveds">
            <div class="svgCont"><%-icons.saved%></div>
            <span>Saveds</span>
        </a>
        <a class="settings" id="settings" onclick="document.getElementById('deMenu').classList.add('front')">
            <div class="svgCont"><%-icons.settings%></div>
            <span>Settings</span>
        </a>
    </div>
   
    <div class="logo">
        <%-icons.capi%>
    </div>
</section>