<!DOCTYPE html>
<html lang="en" theme="light" menuStyle="2" font="1" >
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title id="changable">User | Capybara</title>
	<link rel="shortcut icon" href="/client/_src/capi.svg" type="image/x-icon">
	<!--OK I PULL REQUEST-->
</head>
<body>
	<%-include("../_templates/baseMenu")%>
	<%-include("../_templates/showcase")%>
	<div class="content">
	<%-include("../_templates/options")%> 
	<section class="mainContent" id="mainContent" >
		<span class="goback"><%-icons.goback%></span>
		<div class="userCard" id="userCard">
			<div class="infoContainer">
				<div class="background">
					<img src="/client/_src/brown.svg" alt="">
				</div>
				<div class="image">
					<img src="/client/_src/brown.svg" alt="">
				</div>
		</div>
	</section>
	</div>
</body>
<%-include("../_templates/classes") %>
<%-include("../_templates/loading") %>
</html>