<!DOCTYPE html>
<html lang="en" theme="light" menuStyle="2" font="1">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title id="changable">User | Capybara</title>
	<link rel="shortcut icon" href="/client/src/capi.svg" type="image/x-icon">
	<!--OK I PULL REQUEST-->
</head>
<body>
	<%-include("../templates/baseMenu")%>
	<%-include("../templates/showcase")%>	
	<%-include("../templates/options")%> 
	<section class="mainContent" id="mainContent" >
		<a class="goback" id="goBack" href="/client/main/"><%-icons.goback%></a>
		<%- include("../templates/huff.ejs")%>
		<section class="yourComment">
			<a class="commenter">
				<img src="" alt="">
				<div class="username">
					<span>Test</span>
					<span>@test</span>
				</div>
			</a>
			<textarea contenteditable="true" class="commText" placeholder="Write your comment	" id="yourCommentText"></textarea>
			<button><%-icons.emoji%></button>
			<div class="hiddenEmojis emojiList">
				<section>
					<button>😀</button>
				</section>
			</div>
			<span id="defaults">Lines: 0/10 | Characters: 0/256 | Mentions: 0/2 | Categories: 0/5</span>
			<div class="postButton"><button id="postComment">Post</button></div>
		</section>

		<section class="comments" id="comments">
			<div class="comment">
				<a class="commenter">
					<img src="" alt="">
					<div class="username">
						<span>Test</span>
						<span>@test</span>
					</div>
				</a>
				<span class="commText">Hello </span>
				<span class="button">
					<span><%- icons.comments%></span>
					<span><%- icons.likebefore%></span>
				</span>
				<span class="showMore"><%- icons.up %></span>
			</div>
		</section>
	</section>
	<section class="recommendations">
        <div class="search" id="searchdiv">
            <%-icons.search%> 
            <input type="text" placeholder="Search" id="searchbar">
        </div>
        <div class="now">
            <div class="trending" id="trends">
                <span>Trending Now</span>
                <div class="trendsCont" id="trendsCont">
                    <a href="#"><span></span><span>1111</span></a>
                    <a href="#"><span></span><span>1111</span></a>
                    <a href="#"><span></span><span>1111</span></a>
                    <a href="#"><span></span><span>1111</span></a>
                    <a href="#"><span></span><span>1111</span></a>

                </div>
            </div>
            <div class="people" id="pp">
                <span>Trending People</span>
                <div class="ppCont" id="ppCont">
                        <a href="#"><span></span><span>1111</span></a>
                        <a href="#"><span></span><span>1111</span></a>
                        <a href="#"><span></span><span>1111</span></a>
                        <a href="#"><span></span><span>1111</span></a>
                        <a href="#"><span></span><span>1111</span></a>
                </div>
            </div>
        </div>
    </section>
	<div class="scrollBar" id="scrollbar">
		<div id="scrollbarSec"></div>
	</div>
</body>
<%-include("../templates/classes") %>
<%-include("../templates/loading") %>
</html>